<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p> You scored <%= mark%> </p>
    <form action="/submit" method='post'>
      <input type="submit" value="Restart">
    </form>
  </body>
</html>
